<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>damageIdle1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,146}</string>
                <key>spriteSourceSize</key>
                <string>{84,146}</string>
                <key>textureRect</key>
                <string>{{0,0},{84,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>damageIdle2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,146}</string>
                <key>spriteSourceSize</key>
                <string>{84,146}</string>
                <key>textureRect</key>
                <string>{{84,0},{84,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>damageIdle3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,146}</string>
                <key>spriteSourceSize</key>
                <string>{84,146}</string>
                <key>textureRect</key>
                <string>{{168,0},{84,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>damageIdle4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,146}</string>
                <key>spriteSourceSize</key>
                <string>{84,146}</string>
                <key>textureRect</key>
                <string>{{0,146},{84,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>damageIdle5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,146}</string>
                <key>spriteSourceSize</key>
                <string>{84,146}</string>
                <key>textureRect</key>
                <string>{{84,146},{84,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>damageIdle6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,146}</string>
                <key>spriteSourceSize</key>
                <string>{84,146}</string>
                <key>textureRect</key>
                <string>{{168,146},{84,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>damageIdle7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,146}</string>
                <key>spriteSourceSize</key>
                <string>{84,146}</string>
                <key>textureRect</key>
                <string>{{0,292},{84,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>damageIdle8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,146}</string>
                <key>spriteSourceSize</key>
                <string>{84,146}</string>
                <key>textureRect</key>
                <string>{{84,292},{84,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>damageIdle.png</string>
            <key>size</key>
            <string>{252,438}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ee00564c243727d85c5d7e2c34e3d1e6:045202d92d6a44efb82cd5a145d77444:bd0b56fc2b70e6ffc110aae389fbf134$</string>
            <key>textureFileName</key>
            <string>damageIdle.png</string>
        </dict>
    </dict>
</plist>
