<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>damageRun1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,146}</string>
                <key>spriteSourceSize</key>
                <string>{133,146}</string>
                <key>textureRect</key>
                <string>{{0,0},{133,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>damageRun10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,146}</string>
                <key>spriteSourceSize</key>
                <string>{133,146}</string>
                <key>textureRect</key>
                <string>{{1197,0},{133,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>damageRun11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,146}</string>
                <key>spriteSourceSize</key>
                <string>{133,146}</string>
                <key>textureRect</key>
                <string>{{1330,0},{133,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>damageRun12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,146}</string>
                <key>spriteSourceSize</key>
                <string>{133,146}</string>
                <key>textureRect</key>
                <string>{{1463,0},{133,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>damageRun13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,146}</string>
                <key>spriteSourceSize</key>
                <string>{133,146}</string>
                <key>textureRect</key>
                <string>{{1596,0},{133,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>damageRun2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,146}</string>
                <key>spriteSourceSize</key>
                <string>{133,146}</string>
                <key>textureRect</key>
                <string>{{133,0},{133,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>damageRun3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,146}</string>
                <key>spriteSourceSize</key>
                <string>{133,146}</string>
                <key>textureRect</key>
                <string>{{266,0},{133,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>damageRun4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,146}</string>
                <key>spriteSourceSize</key>
                <string>{133,146}</string>
                <key>textureRect</key>
                <string>{{399,0},{133,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>damageRun5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,146}</string>
                <key>spriteSourceSize</key>
                <string>{133,146}</string>
                <key>textureRect</key>
                <string>{{532,0},{133,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>damageRun6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,146}</string>
                <key>spriteSourceSize</key>
                <string>{133,146}</string>
                <key>textureRect</key>
                <string>{{665,0},{133,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>damageRun7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,146}</string>
                <key>spriteSourceSize</key>
                <string>{133,146}</string>
                <key>textureRect</key>
                <string>{{798,0},{133,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>damageRun8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,146}</string>
                <key>spriteSourceSize</key>
                <string>{133,146}</string>
                <key>textureRect</key>
                <string>{{931,0},{133,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>damageRun9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,146}</string>
                <key>spriteSourceSize</key>
                <string>{133,146}</string>
                <key>textureRect</key>
                <string>{{1064,0},{133,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>damageRun.png</string>
            <key>size</key>
            <string>{1729,146}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a8581840fc063bde4c0217f8a6f25eac:04a239346e22f0e40e5d7a218945abd1:2a4fa581a77721f8089d4ad7aba52855$</string>
            <key>textureFileName</key>
            <string>damageRun.png</string>
        </dict>
    </dict>
</plist>
