<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cave.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,28}</string>
                <key>spriteSourceSize</key>
                <string>{34,28}</string>
                <key>textureRect</key>
                <string>{{0,0},{34,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>city.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{34,0},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cityLight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{120,0},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>forest.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,109}</string>
                <key>spriteSourceSize</key>
                <string>{211,109}</string>
                <key>textureRect</key>
                <string>{{206,0},{211,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swamp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,197}</string>
                <key>spriteSourceSize</key>
                <string>{264,197}</string>
                <key>textureRect</key>
                <string>{{0,109},{264,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>village.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,34}</string>
                <key>spriteSourceSize</key>
                <string>{45,34}</string>
                <key>textureRect</key>
                <string>{{264,109},{45,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>locations.png</string>
            <key>size</key>
            <string>{417,306}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b42b12ffa20fb384c02e5510056971e1:dc874001cad63c4f921cc24d45bea566:5f2be8f66672cca3569d2617f22ab7c4$</string>
            <key>textureFileName</key>
            <string>locations.png</string>
        </dict>
    </dict>
</plist>
