<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,145}</string>
                <key>spriteSourceSize</key>
                <string>{83,145}</string>
                <key>textureRect</key>
                <string>{{0,0},{83,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,145}</string>
                <key>spriteSourceSize</key>
                <string>{83,145}</string>
                <key>textureRect</key>
                <string>{{83,0},{83,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,145}</string>
                <key>spriteSourceSize</key>
                <string>{83,145}</string>
                <key>textureRect</key>
                <string>{{166,0},{83,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,145}</string>
                <key>spriteSourceSize</key>
                <string>{83,145}</string>
                <key>textureRect</key>
                <string>{{0,145},{83,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,145}</string>
                <key>spriteSourceSize</key>
                <string>{83,145}</string>
                <key>textureRect</key>
                <string>{{83,145},{83,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,145}</string>
                <key>spriteSourceSize</key>
                <string>{83,145}</string>
                <key>textureRect</key>
                <string>{{166,145},{83,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,145}</string>
                <key>spriteSourceSize</key>
                <string>{83,145}</string>
                <key>textureRect</key>
                <string>{{0,290},{83,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,145}</string>
                <key>spriteSourceSize</key>
                <string>{83,145}</string>
                <key>textureRect</key>
                <string>{{83,290},{83,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>idleAnimation.png</string>
            <key>size</key>
            <string>{249,435}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6ea67cf21c72f1c5e3a33abd97b5e70a:13f96be4bcce9b57401b134f5541ff95:fe4e6edb3d999f3de976c517bd498c0d$</string>
            <key>textureFileName</key>
            <string>idleAnimation.png</string>
        </dict>
    </dict>
</plist>
